<div class="welcome-container">

  <div class="ticket-animation">
    <img src="assets/support.png" alt="Ticket" class="ticket-img" />
  </div>

  <h1 class="title">Ticket Support System</h1>
  <p class="subtitle">Get help fast. Track your issues. Stay updated.</p>

  <div class="actions">
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
     <button routerLink="/ticket/new" class="home-btn">Create Ticket</button>
  </div>

</div>


<router-outlet></router-outlet>